@import "bootstrap/scss/bootstrap";

.table-img{
    height: 100px;
    width: 200px;
    object-fit: cover;
    -webkit-object-fit: cover;
    -moz-object-fit: cover;
}
.min-vh-100{
    min-height: 100vh;
}